.position{
    margin-top: 50px;
    margin-bottom: 50px;

}
.table{
    width: 1200px;
    
}
.tableposition{
    margin-left: 50px;
}
/*
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 180px;
}
.styled-table thead tr {
    background-color: rgb(4, 4, 78);
    color: tomato;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
 ;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: black;
}
*/