.position{
    margin-top: 50px;
    margin-bottom: 50px;

}

.tableposition{
    background-color: tan;
    width: 500px;
    margin-left: 150px;
}
th {
    background-color: wheat;
    color: white;
} 
